Options +FollowSymlinks

# 下行是設定要不要啟用 rewrite engine, 這是 runtime 的設定檔,不需 restartserver
RewriteEngine on

# 下行是將檔名中沒有 slash 和 . 的檔名, 轉向到 .php 的檔案
RewriteRule ^([^./]+)/?$ $1.php [L]

Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization,$

RewriteCond %{REQUEST_METHOD} OPTIONS
# RewriteRule ^(.*)$ $1 [R=200,L]